<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div class="error-cont col-12">
        <img src="~/assets/images/error-img.png" class="img-responsive" />
        <h1>Something went wrong...</h1>
        <p>An error has occurred. Please log out, Clear cache and try again</p>
    </div>
</body>
</html>
